@page "/Optimizacion"
    <Radzen.Blazor.RadzenCard>
        <div class="row">
            <img src="/images/Logo.png" asp-append-version="true" width="150" />
            <h1 class="center-button py-3"> Optimización </h1>
        </div>

    </Radzen.Blazor.RadzenCard>


    <div class="content mt-2">
        <p>
            <h2>
                Curso de optimización
            </h2>
        </p>
        <p>
            En este video estaremos revisando los conceptos básicos de optimización y revisaremos algunos ejemplos.
        </p>

        <div class="center-button">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OyE7_E49dXA?start=2" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>
            En este videotutorial revisaremos la definición báisca de una función unidimensional. También aprenderemos el concepto de gradiente y aprenderemos como calcular esto utilizando el poder computacional de python. Utilizaremos herramientas como matplotlib, numpy y sympy para manipular la información del problema estándar.
        </p>

        <div class="center-button">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lKko_IA82vI?start=4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>


        <p>
            En este videotutorial explicaremos el funcionamiento del método de la bisección, para luego implementar el algoritmo en python.
        </p>

        <div class="center-button">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rbaGBfBjhCw?start=4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>


        <p>
            En este videotutorial completaremos la implementación del método de la bisección. Nos enfocaremos en la presetnación de datos en la pantalla y la extración de información para un posterior análisis de rendimiento de este método.

        </p>

        <div class="center-button">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/x7qPbHDX5KY?start=4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>


        <p>
            En este video tutorial se detalla el método de Newton Raphson desde un punto de vista gráfico y se complementa con el desarrollo del algoritmo en Python.  También, se compara los resultados obtenidos aquí con otros métodos de optimización.
        </p>

        <div class="center-button">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wPqazBVr9I4?start=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <p>
            En este video tutorial se detalla el método de la secante desde un punto de vista gráfico y se complementa con el desarrollo del algoritmo en Python.  También, se compara los resultados obtenidos aquí con otros métodos de optimización.
        </p>

        <div class="center-button">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/sTFr20RluRA?start=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <p>
            En este video tutorial se detalla el método de búsqueda de la sección dorada o también conocido como Golden-section search desde un punto de vista gráfico y se complementa con el desarrollo del algoritmo en Python usando programación recursiva. También, se compara los resultados obtenidos aquí con otros métodos de optimización.
        </p>

        <div class="center-button">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7pOG2j013GQ?start=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>

        <p>
            En este video tutorial se detalla el método de búsqueda de la sección dorada o también conocido como Golden-section search desde un punto de vista gráfico y se complementa con el desarrollo del algoritmo en Python usando programación recursiva. También, se compara los resultados obtenidos aquí con otros métodos de optimización.
        </p>

        <div class="center-button">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8wbgcUrRPJE?start=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>



    </div>
