@page "/Anaconda"

<Radzen.Blazor.RadzenCard>
    <div class="row">
        <img src="/images/Logo.png" asp-append-version="true" width="150" />
        <h1 class="center-button py-3">   Qué es Anaconda ?</h1>
    </div>

</Radzen.Blazor.RadzenCard>


<div class="content mt-2">
    <strong>Anaconda</strong>  es un framework que permite el manejo de diferentes tools que usan el lenguaje python ...

    <p>
        Introducción al uso de Anaconda, la herramienta que te permite manejar diferentes medio ambientes de trabajo.
    </p>

    <div class="center-button">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/OhIKHpW09R0?start=4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p>
       Veamos un ejemplo usando la libreria turtle en python para dibujar una estrella.

    </p>
    <div class="center-button">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fRKbEDiew-s?start=4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
</div>
@code {

}
