@page "/Csharpbasico"
    <Radzen.Blazor.RadzenCard>
        <div class="row">
            <img src="/images/Logo.png" asp-append-version="true" width="150" />
            <h1 class="center-button py-3">  Curso de C#</h1>
        </div>

    </Radzen.Blazor.RadzenCard>


    <div class="content mt-2">
        <p>
            <h2>
                Aprende C# el lenguaje elegante
            </h2>
        </p>
        <p>

        </p>

        <div class="center-button">
            
        </div>

       
    </div>
