@page "/Csharpbasico"
    <Radzen.Blazor.RadzenCard>
        <div class="row">
            <img src="/images/Logo.png" asp-append-version="true" width="150" />
            <h1 class="center-button py-3">  Curso de C#</h1>
        </div>

    </Radzen.Blazor.RadzenCard>


    <div class="content mt-2">
        <p>
            <h2>
                Aprende C# el lenguaje elegante
            </h2>
        </p>
        <p class="py-2">
            Este es el tutorial básico de C# en donde revisaremos conceptos primarios así como la implementación de las estructuras de programación más importantes. Es un tutorial bastante sencillo de relativamente corta duración pero con una profuinda expliación de todo lo que abarca los conceptos básicos de C#. Temas como la creación, manipulación de variables, así como la programación orientada a objetos es mostrada a lo largo de todo el curso.
        </p>
        <p >
            ► Este es el primer tutorial de C#. En él hacemos una breve introducción al ambiente de programación, y damos los primeros pasos con comandos de programación. También, discutimos sobre la creación de proyectos dentro de la interfaz de programación. Luego, continuamos con la manipulación de variables, y concluimos con un breve resumen de los tipos de variables más importantes y básicas que podemos encontrar en C#.
        </p>
        <div class="center-button">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/n2a2d7ELxvk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>
           Encuentra el curso completo en nuestro canal de youTube
        </p>
        <div class="center-button">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL6GZzVvsfrGG1vPsJzF1idmiD2yGAHqZH" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div>
