<div class="info-bar container-fluid">
    <div class="align-self-lg-center">
        <a class="btn btn-primary btn-lg container-fluid " href="https://www.udemy.com/" target="_blank"><strong>Mas cursos muy pronto .. </strong> </a>
    </div>
</div>

@code {

}
