@page "/Matplotlib"

    <Radzen.Blazor.RadzenCard>
        <div class="row">
            <img src="/images/Logo.png" asp-append-version="true" width="150" />
            <h1 class="center-button py-3">   Qué es Matplotlib ?</h1>
        </div>

    </Radzen.Blazor.RadzenCard>


    <div class="content mt-2">
        <p>
            <h2>
                Tutorial Básico de matplotlib
            </h2>
        </p>
        <p>
            Este es el tutorial introductorio a la libreria matplotlib de python, la misma que te permitirá elaborar gráficos para poder mostrar la información de una manera más clara y concisa. El tutorial no solamente abarca como graficar en el ambiente de programación de python, sino que también ilustra con ejemplos los tipos de gráficas que se pueden dibujar.
        </p>

        <div class="center-button">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4t3ZqgcAbAg?start=4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>
            En este video aprenderemos como usar matplotlib para gráficas de estadística y como optimizar de mejor manera el código para poder graficarlas.

        </p>
        <div class="center-button">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FB2QYlZYbLQ?start=4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>
            En este video continuaremos aprendiendo como usar matplotlib para gráficas de estadística y como optimizar de mejor manera el código para poder graficarlas.

        </p>
        <div class="center-button">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/onXXD4n19fw?start=4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>
            <h2>
                Tutorial Avanzado de matplotlib
            </h2>
        </p>
        <p>
            En este video continuaremos con el tutorial para graficar en matplotlib, ahora mejoraremos las graficas con una personalizacion en los colores, de manera que puedan ser modificados de manera fácil y rápida.

        </p>
        <div class="center-button">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/VMReboADqU4?start=2" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <p>
            El curso Completo de matplotlib avanzado aca :

        </p>
        <div class="center-button">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?start=2&amp;list=PL6GZzVvsfrGFEXFyrG0qi0UJdy9gzwy9w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div>
