@page "/Opencv"
<Radzen.Blazor.RadzenCard>
    <div class="row">
        <img src="/images/Logo.png" asp-append-version="true" width="150" />
        <h1 class="center-button py-3">  Open CV </h1>
    </div>

</Radzen.Blazor.RadzenCard>


<div class="content mt-2">
    <p>
        <h2>
            OpenCV (La libreia para aprender Vision artificial)
        </h2>
    </p>
    <p>
        OpenCV es una biblioteca libre de visión artificial originalmente desarrollada por Intel. OpenCV significa Open Computer Vision (Visión Artificial Abierta). Hasta 2020 se la sigue mencionando como la biblioteca más popular de visión artificial.
        Detección de movimiento, reconocimiento de objetos, reconstrucción 3D a partir de imágenes, son sólo algunos ejemplos de aplicaciones de OpenCV.
    </p>
    <p>
        Su popularidad se debe a que es:
    </p>
    <ul>
        <li>
            libre, publicada bajo licencia BSD, que permite que sea usada libremente para propósitos comerciales y de investigación
        </li>
        <li>
            multiplataforma, para los sistemas operativos GNU/Linux, Mac OS X, Windows y Android, y para diversas arquitecturas de hardware como x86, x64 (PC), ARM (celulares y Raspberry Pi)
        </li>
    </ul>
    <p>
        En este videotutorial aprenderemos como instalar opencv 👀 en el ambiente de programación de anaconda 🐍. También revisaremos como cargar y guardar una imagen en el computador. También se mostrará como configurar el ambiente de Visual Studio Code para usar la libreria sin ningún inconveniente.
    </p>

    <div class="center-button">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/A0qsBOOANuc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <p>
        En este videotutorial estaremos viendo que son los espacios de colores y su utilidad dentro de visión artificial (HSV, LAB, YCrCb, escala de grises). También estaremos revisando como realizar las conversiones de un espacio de colores a otro. También comprenderemos como OpenCV muestra las imágenes en pantalla.
    </p>

    <div class="center-button">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/n9E2VtkVY-4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p>
        El curso Completo de OpenCV aca :

    </p>
    <div class="center-button">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL6GZzVvsfrGEDJ5oOLO210mP1MSj13PFX" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


</div>
