@page "/Pandas"

<Radzen.Blazor.RadzenCard>
    <div class="row">
        <img src="/images/Logo.png" asp-append-version="true" width="150" />
        <h1 class="center-button py-3">   Curso de Pandas </h1>
    </div>

</Radzen.Blazor.RadzenCard>


<div class="content mt-2">
    <p>
        <h2>
            Aprende Pandas
        </h2>
    </p>
    <p>
        PANDAS es un módulo de Python que sirve para el análisis de datos y en este tutorial aprenderemos las bases fundamentales para aprender a utilizar los datos y principalmente utilizar las SERIES y DATAFRAMES.
        
        En este curso nos enfocaremos en Aprender  como utilizar los metodos del framework para que puedas empezar tu nueva carrera como analista de datos.
    </p>

    <div class="center-button">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zVgmPAn09Uk?start=7" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p>
        Aprende a utilizar Pandas  con Dataframes , importar datos y un analisis rapido de datos

        Utiliza el poder de Pandas para analiza tus datos !!!!!!!!!
    </p>
    <div class="center-button">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xuASq_W7qMc?start=5" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p>
        En este video veremos como realizar la limpieza de datos, eliminar ciertos datos que pueden afectar a nuestro futuro analisis.
    </p>
    <div class="center-button">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QwgNjctlYnQ?start=5" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p>
        <h2>
            Revisemos una Aplicacion de pandas
        </h2>
    </p>
    <p>
        Podemos analizar o predecir el número de casos reales que estan sucediendo en nuestra región o país ?
    </p>
    <div class="center-button">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/vAR5i7x3D5M?start=5" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    

</div>

