@page "/Tkinter"

    <Radzen.Blazor.RadzenCard>
        <div class="row">
            <img src="/images/Logo.png" asp-append-version="true" width="150" />
            <h1 class="center-button py-3">  Curso de  Tkinter </h1>
        </div>

    </Radzen.Blazor.RadzenCard>


    <div class="content mt-2">
        <p>
            <h2>
                Aprende Tkiniter (UI Para python)
            </h2>
        </p>
        <p>
            Aprende a crear Interfaces de usuario usando uno de las librerías mas utilizadas en python Tkinter. Esta librería permite crear Interfaces gráficas de manera bastante simple en python  pero con una muy limitad riqueza en sus herramientas. A pesar de no ser la mejor para crear una aplicación a gran escala es muy útil para poder realizar pequeños proyectos, testear tu código , presentar un pequeña interfaz para aplicaciones básicas cuando necesitas salir de ese aprieto de inmediato.
        </p>

        <div class="center-button">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/iuhvOU9PefU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <p>
            <h2>
                Revisemos una Aplicacion de Tkinter
            </h2>
        </p>
        <p>
            Realizamos una interfaces gráficas en Python. Utilizando Tkinter.  Para este caso vamos a realizar una aplicación que nos permita mejorar nuestra productividad . Vamos a ver conceptos que ya habias repaso en el video anterior
        </p>
        <div class="center-button">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ACT9uDY2oY0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>
            Revisemos el Thread dentro de nuestra aplicación para tener el tiempo que necesitamos.
        </p>
        <div class="center-button">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/05vIaRuujuk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>
            Seguimos con el curso de Tkinter para poder crear una aplicacion que la podemos utilizar en nuestro escritorio.
        </p>
        <div class="center-button">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/8sE3H3ccgwo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>
            En este video veremos como  crear un ejecutable desde python como convertir nuestra aplicacion en un .exe para que lo podamos compartir con los demas.
        </p>
        <div class="center-button">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/80dbOfNgrrY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
