@page "/Unity"
    <Radzen.Blazor.RadzenCard>
        <div class="row">
            <img src="/images/Logo.png" asp-append-version="true" width="150" />
            <h1 class="center-button py-3"> Unity </h1>
        </div>

    </Radzen.Blazor.RadzenCard>


    <div class="content mt-2">
        <p>
            <h2>
                Unity el preferido para realizar videojuegos
            </h2>
        </p>
        <p>
            Este es el tutorial básico de Unity en donde revisaremos conceptos primarios así como la implementación de las estructuras de programación más importantes. El tutorial también abarca temas como la manipulación de datos y la interacción de C# con el ambiente de programación de Unity. Revisaremos la versatilidad de C# en temas como la creación de variables y clases. Además, es un tutorial bastante sencillo de relativamente corta duración pero con una profuinda explicaión de todo lo que abarca los conceptos básicos de Unity.
        </p>
        <p>
            Curso básico de Unity donde aprenderás los fundamentos para utilizar este poderoso software que permite crear juegos usando C# cómo lenguaje de programación y visual studio Como el IDE
        </p>
        <div class="center-button">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2H3FRInz5jY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <p>
            En este video te mostramos como instalar Unity hub y Unity para que puedas empezar tú travesía en el mundo de la creación de juegos .
        </p>
        <div class="center-button">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZMDJyw-ggkg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>


        <p>
            Encuentra el curso completo en nuestro canal de youTube
        </p>
        <div class="center-button">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL6GZzVvsfrGFnPmQGiUQH6bE1olXFxRUJ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>


    </div>
