@page "/Unity"
    <Radzen.Blazor.RadzenCard>
        <div class="row">
            <img src="/images/Logo.png" asp-append-version="true" width="150" />
            <h1 class="center-button py-3"> Unity </h1>
        </div>

    </Radzen.Blazor.RadzenCard>


    <div class="content mt-2">
        <p>
            <h2>
                Unity el preferido para realizar videojuegos
            </h2>
        </p>
        <p>

        </p>

        <div class="center-button">

        </div>


    </div>
